body{
    font-family: "Playwrite IT Moderna", cursive;
}

.description{
    text-align: center;
    margin-top: 20px;
    padding: 40px;
}

button{
padding: 10px;
border: none;
border-radius: 10px;
background-color: darksalmon;
color: white;
font-size: 18px;
font-family: "Playwrite IT Moderna", cursive;
margin-bottom: 30px;

}

p{
    font-size: 20px;
}

#more-info{
    background-color: bisque;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    display: none;
    margin: auto;
}

@media screen and (min-width:900px) {
    #more-info{
        width: 40%;
    }
}
